<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <meta http-equiv="Content-language" content="{{ app.session.locale }}">
        <title>{% block title %}Symfony2Blog{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href={{ asset('bundles/applicationblog/css/screen.css') }} />
        {% block head %}{% endblock %}
    </head>
    <body>
        
        <!-- header starts-->
	<div id="header-wrap"><div id="header" class="container_16">

		<h1 id="logo-text"><a href={{ path('ApplicationBlogBundle_homepage') }} title="">Symfony2Blog</a></h1>
		

		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li><a href="{{ path('ApplicationBlogBundle_homepage') }}">Accueil</a></li>
				

				
			</ul>
			
		</div>

		<div id="header-image"></div>

		<form id="quick-search" action="" method="get" >
			<p>
			<label for="qsearch">Search:</label>
			<input class="tbox" id="qsearch" type="text" name="qsearch" value="" title="Start typing and hit ENTER" />
			<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src={{ asset('bundles/applicationblog/images/search.gif') }} />
			</p>
		</form>

	<!-- header ends here -->
	</div></div>

        <!-- content starts -->
	<div id="content-outer"><div id="content-wrapper" class="container_16">
        <!-- main -->
	<div id="main" class="grid_8">

        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}

        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <!-- main ends -->
		</div>

		

	<!-- contents end here -->
	</div></div>

        <!-- footer starts here -->
	<div id="footer-wrapper" class="container_16">

		<div id="footer-content">

			<div class="grid_8">

				<h3>Resource Links</h3>
				<p>
				
				</p>

				<ul class="footer-list">
                    <li>Emmanuel Berroir
                        
                    </li>
					<li><a href="http://www.symfony.com" title="Symfony2 official Website">Symfony2 -
                        <span>Official website</span></a>
                    </li>
		
				</ul>

			</div>

			

		</div>

		<div id="footer-bottom">

			<p class="bottom-left">
			&nbsp; &copy;2011 www.emmanuelpereira.com &nbsp; &nbsp;
			website templates by <a href="http://www.styleshout.com/">styleshout</a>
                        &nbsp;Powered by <a href="http://www.symfony.com" target="_blank">Symfony</a>
                        </p>

			<p class="bottom-right" >
				
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
		   	    <a href="http://validator.w3.org/check/referer">XHTML</a>
			</p>

		</div>

	</div>
	<!-- footer ends here -->

    </body>
</html>