<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
        <meta http-equiv="Content-language" content="{{ app.session.locale }}">
        <title>{% block title %}Symfony2Blog{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href={{ asset('bundles/applicationblog/css/screen.css') }} />
        {% block head %}{% endblock %}
    </head>
    <body>
        
        <!-- header starts-->
	<div id="header-wrap"><div id="header" class="container_16">

		<h1 id="logo-text"><a href={{ path('homepage') }} title="">Symfony2Blog</a></h1>
		<p id="intro">Symfony2 Tutorial</p>

		<!-- navigation -->
		<div  id="nav">
			<ul>
				<li><a href="{{ path('homepage') }}">Accueil</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">A Propos</a></li>
			</ul>
		</div>

		<div id="header-image"></div>

		<form id="quick-search" action="" method="get" >
			<p>
			<label for="qsearch">Search:</label>
			<input class="tbox" id="qsearch" type="text" name="qsearch" value="" title="Start typing and hit ENTER" />
			<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src={{ asset('bundles/applicationblog/images/search.gif') }} />
			</p>
		</form>

	<!-- header ends here -->
	</div></div>

        <!-- content starts -->
	<div id="content-outer"><div id="content-wrapper" class="container_16">
        <!-- main -->
	<div id="main" class="grid_8">

        {% if app.session.hasFlash('notice') %}
            <div class="flash-notice">
                {{ app.session.flash('notice') }}
            </div>
        {% endif %}

        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <!-- main ends -->
		</div>

		<!-- left-columns starts -->
		<div id="left-columns" class="grid_8">

			<div class="grid_4 alpha">

				<div class="sidemenu">
					<h3>Sidebar Menu</h3>
					<ul>
						<li><a href="">Lorem Ipsum</a></li>
						<li><a href="">Lorem Ipsum</a></li>
						<li><a href="">Lorem Ipsum</a></li>
						<li><a href="">Lorem Ipsum</a></li>
						<li><a href="">Lorem Ipsum</a></li>
					</ul>
				</div>

				<div class="sidemenu">
					<h3>Links</h3>
					<ul>
						<li><a href="">Lorem Ipsum</a></li>
						<li><a href="">Lorem Ipsum</a></li>
						<li><a href="">Lorem Ipsum</a></li>
						<li><a href="">Lorem Ipsum</a></li>
					</ul>
				</div>

				<div class="sidemenu">
					<h3>Sponsors</h3>
					<ul>
						<li><a href="" title="Lorem Ipsum">Lorem Ipsum<br />
                            <span>Description</span></a>
                        </li>
						<li><a href="" title="Lorem Ipsum">Lorem Ipsum <br />
                            <span>Description</span></a>
                        </li>
						<li><a href="" title="Lorem Ipsum">Lorem Ipsum <br />
                            <span>Description</span>
                        </a></li>
						<li><a href="" title="Lorem Ipsum">Lorem Ipsum <br />
                            <span>Description</span></a>
                        </li>
						<li><a href="" title="Lorem Ipsum">Lorem Ipsum <br />
                            <span>Description</span></a>
                        </li>
						<li><a href="" title="Lorem Ipsum">Lorem Ipsum <br />
                            <span>Description</span></a>
                        </li>
					</ul>
				</div>

				<h3>Wise Words</h3>
				<p>
				&quot;Beauty of style and harmony and grace and good rhythm
				depends on simplicity.&quot; </p>

				<p class="align-right"> - Plato</p>

				<h3>Support Styleshout</h3>
				<p>
				If you are interested in supporting my work and would like to contribute, you are
				welcome to make a small donation through the
				<a href="">donate link</a> on my website - it will
				be a great help and will surely be appreciated.</p>

			</div>

			<div class="grid_4 omega">

				<h3>Featured</h3>

				<div class="featured-post">

					<h4><a href="">Lorem ipsum dolor sit</a></h4>
					<p class="post-info">Posted by <a href="">erwin</a> on 09/26/08 </p>
					<p>
					<a href=""><img src={{ asset('bundles/applicationblog/images/image.gif') }} width="160" height="100" alt="firefox" class="float-left" /></a>
					Vestibulum venenatis. Nulla vel ipsum. Proin rutrum, urna sit amet bibendum
					pellentesque, ante sapien varius turpis, eu nonummy nunc urna scelerisque ante.
					Nunc sed leo at dolor pharetra facilisis. Sed sed lectus at justo dapibus tristique.
					Morbi molestie pulvinar elit. Donec dictum nibh nec est. Aliquam sagittis, lacus
					a pharetra tempor, enim justo tempor nisi, at aliquet nulla metus sed augue.
					</p>

					<p><a class="more-link" href="">continue reading</a></p>

				</div>

				<div class="featured-post">

					<h4><a href="">Lorem ipsum dolor sit</a></h4>
					<p class="post-info">Posted by <a href="">erwin</a> on 09/26/08 </p>
					<p>
					Vestibulum venenatis. Nulla vel ipsum. Proin rutrum, urna sit amet bibendum
					pellentesque, ante sapien varius turpis, eu nonummy nunc urna scelerisque ante.
					Nunc sed leo at dolor pharetra facilisis. Sed sed lectus at justo dapibus tristique.
					Morbi molestie pulvinar elit. Donec dictum nibh nec est. Aliquam sagittis, lacus
					a pharetra tempor, enim justo tempor nisi, at aliquet nulla metus sed augue.
					</p>

					<p><a class="more-link" href="">continue reading</a></p>

				</div>

				<div class="featured-post">

					<h4><a href="">Lorem ipsum dolor sit</a></h4>
					<p class="post-info">Posted by <a href="">erwin</a> on 09/26/08 </p>
					<p>
					Vestibulum venenatis. Nulla vel ipsum. Proin rutrum, urna sit amet bibendum
					pellentesque, ante sapien varius turpis, eu nonummy nunc urna scelerisque ante.
					Nunc sed leo at dolor pharetra facilisis. Sed sed lectus at justo dapibus tristique.
					Morbi molestie pulvinar elit. Donec dictum nibh nec est. Aliquam sagittis, lacus
					a pharetra tempor, enim justo tempor nisi, at aliquet nulla metus sed augue.
					</p>

					<p><a class="more-link" href="">continue reading</a></p>

				</div>

			</div>

		<!-- end left-columns -->
		</div>

	<!-- contents end here -->
	</div></div>

        <!-- footer starts here -->
	<div id="footer-wrapper" class="container_16">

		<div id="footer-content">

			<div class="grid_8">

				<h3>Resource Links</h3>
				<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
				posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
				odio, ac blandit ante orci ut diam. <a href="index.html">Read more...</a>
				</p>

				<ul class="footer-list">
                    <li><a href="http://www.emmanuelpereira.com" title="Emmanuel PEREIRA BLOG">Emmanuel PEREIRA Blog -
                        <span>News and tutorial about Symfony2</span></a>
                    </li>
					<li><a href="http://www.symfony.com" title="Symfony2 official Website">Symfony2 -
                        <span>Official website</span></a>
                    </li>
		
				</ul>

			</div>

			<div class="grid_8">

				<h3>Image Gallery </h3>
				<p class="thumbs">
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
					<a href="index.html"><img src={{ asset('bundles/applicationblog/images/thumb.jpg') }} width="40" height="40" alt="thumbnail" /></a>
				</p>

				<h3>About</h3>
				<p>
				<a href=""><img src={{ asset('bundles/applicationblog/images/gravatar.jpg') }} width="40" height="40" alt="firefox" class="float-left" /></a>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
				posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
				odio, ac blandit ante orci ut diam.</p>
				<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
				Cras id urna. <a href="">Learn more...</a></p>

			</div>

		</div>

		<div id="footer-bottom">

			<p class="bottom-left">
			&nbsp; &copy;2011 www.emmanuelpereira.com &nbsp; &nbsp;
			website templates by <a href="http://www.styleshout.com/">styleshout</a>
                        &nbsp;Powered by <a href="http://www.symfony.com" target="_blank">Symfony</a>
                        </p>

			<p class="bottom-right" >
				<a href="">Home</a> |
				<a href="">Sitemap</a> |
				<a href="">RSS Feed</a> |
				<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
		   	    <a href="http://validator.w3.org/check/referer">XHTML</a>
			</p>

		</div>

	</div>
	<!-- footer ends here -->

    </body>
</html>